
@import '../../Global.scss';

.navbar {
    background: $color-white;
    box-shadow: $glovo-box-shadow;
    margin: 0;
    padding: 10px;
    border: none;
    border-radius: 0;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.brand {
    display: inline-block;
    margin-top: 5px;
    font-size: 20px;
    color: $color-lime-green;
    font-family: $logo-font;
}

.logo {
    vertical-align: middle;
}

button {
    background: $color-lime-green;
    color: $color-white;
    border: none;
    padding: 5px 20px;
    border-radius: $border-radius-max;
    margin-top: -5px;
}

svg {
    height: 25px;
    width: 25px;
    vertical-align: middle;
    fill: $color-vivid-red;
    margin-top: -5px;
}

.bag__count {
    background: $color-lime-green;
    color: $color-white;
    border-radius: 50%;
    padding: 2px 7px;
    margin-left: -5px;
}